.landing-content {
  margin-top: 80px;
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.landing-content-preview {
  border-radius: 1.5rem 1.5rem 0.5rem 0.5rem;
  border-color: hsla(0, 0%, 100%, 0.2);
  background-color: hsla(0, 0%, 100%, 0.1);
  transform: rotate(3deg);
  margin-top: 80px;
}

.main-text {
  font-size: 48px;
}

@media only screen and (min-width: 768px) {
  // example
  .landing-content-preview {
    max-width: 450px;
  }
}

@media only screen and (max-width: 1000px) {
  .main-text {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .landing-content-preview {
    max-width: 520px;
    margin-top: 12px;
  }
}

.landing-content-picture {
  border-radius: 0.375rem;
}
